nav {
    position: fixed;
  width: 1024px;
  top:24px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:300;
  padding: 16px 32px;
}
nav ul{
    display: flex;
    list-style: none;
    padding:0;
    gap: 50px;
}

nav ul li a, a.logo{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

a.logo .red{
    color:var(--brick-color);
}

.menu-icon, .mobile-menu-container{
    display: none;
}

@media(max-width:1040px){
    nav{
        width:694px;
    }
}

@media(max-width:720px){
    nav ul{
        display: none;
    }

    nav{
        width: unset;
        left: 32px;
        right: 32px;
        top: 16px;
    }

    nav .menu-icon{
        display:block;
    }

    .mobile-menu-container{
        display: flex;
        position: fixed;
        z-index: 600;
        background: var(--dark-black);
        left: 0;
        right: 0;
        padding: 60px 32px;
    }

    .mobile-menu-container .menu-items{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu-container .close-icon{
        position: fixed;
        top: 32px;
        right: 32px;
    }
    .mobile-menu-container .menu-items li a{
        font-weight: 800;
        font-size: 16px;
        padding: 20px 0;
        display: inline-block;
        color: #FFF;
    }
}